.tag {
  display: inline-block;
}

.tag:hover {
  text-decoration: none;
}

.tag:before {
  content: "#";
  display: inline-block;
  color: #663399;
  font-size: 0.8em;
  margin-right: 0.07em;
  font-weight: bold;
}

.tag:visited:before {
  color: #777;
}

.tag:hover:before {
  color: #663399;
}
