.greeting,
.hey,
.whoIAm {
  font-family: var(--secondary-font);
}

.hey {
  display: none;
}

.whoIAm {
  margin-bottom: 1.5em;
}

.block {
  margin-bottom: calc(var(--page-vertical-spacings) * 2);
}

@media (--small-tablet) {
  .hey {
    display: inline;
  }
}
