.resume__center {
  text-align: center;
}

.headline {
  margin-bottom: 0;
  line-height: 1.1em;
}

.position {
  font-family: var(--secondary-font);
  font-size: 1.05rem;
}

.photo_image {
  display: inline;
  max-width: 220px;
}

.skills_list {
  margin-bottom: var(--page-vertical-spacings);
  font-size: 0.9rem;
}

.icon {
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
  vertical-align: middle;
}

.pdf_link {
  margin-bottom: var(--page-vertical-spacings);
  text-align: center;
}

.updated {
  margin-bottom: var(--page-vertical-spacings);
  font-size: 0.7em;
  color: gray;
  text-align: center;
}

.block {
  margin-bottom: calc(var(--page-vertical-spacings) * 2);
}

.resume__gray {
  color: gray;
}

@media (--small-tablet) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .header,
  .photo,
  .summary,
  .experience,
  .education {
    grid-column: 1 / 3;
  }

  .aside {
    grid-column: 2 / 3;
  }

  .skills {
    grid-row: 5 / span 1;
    grid-column: 1 / 2;
  }

  .pdf_link {
    text-align: left;
  }

  .updated {
    text-align: right;
  }
}

@media (--tablet) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .updated {
    grid-column: 3 / 4;
  }

  .header {
    grid-row: 1 / span 1;
    grid-column: 2 / 3;
  }

  .photo {
    grid-column: 3 / 4;
  }

  .summary {
    grid-row: 2 / span 1;
    grid-column: 1 / 3;
  }

  .skills {
    grid-row: 3 / span 1;
    grid-column: 1 / 3;
  }

  .aside {
    grid-column: 3 / 4;
  }

  .experience,
  .education {
    grid-column: 1 / 4;

  }

  .skills_set {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
