.footer {
  padding: var(--page-spacings);
  text-align: center;
}

.or {
  margin: 0.4rem 0;
  font-size: 0.8rem;
}

.socialLinks {
  font-size: 32px;
  text-align: center;
}

.socialLinksItem {
  display: inline-block;
}

.socialLinksItem + .socialLinksItem {
  margin-left: 1em;
}

.socialIcon {
  width: 1em;
  height: 1em;
}

@media (--tablet) {
  .footer {
    max-width: var(--max-page-width);
    margin: 0 auto;
  }
}
